/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  padding: 80px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}
.button-margin {
  margin-top: 30px;
}
